*{
    font-family: Arial, Helvetica, sans-serif;
}

#border{
    border-bottom: 3px solid;
}
#hover:hover{
    border-bottom: 3px solid #FFC107;
}

#cardHover:hover{
    background-color: #dab33e;
    color: white;
}

.skill-logo:hover{
    filter: drop-shadow(0 0 0.75rem rgb(197, 197, 197));
}